<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
		<title>Cole D. Connelly | Develop Different</title>
		<link rel="icon" href="/imgs/CDC-circle.png" type="image/png" sizes="16x16">
		
		<meta name="robots" content="index, follow">
		<meta name="language" content="English">
		<meta name="author" content="Cole D. Connelly">

		<link rel="icon" type="image/png" href="/images/fav-icon.png">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
		<script src="https://kit.fontawesome.com/44473cf6a5.js" crossorigin="anonymous"></script>
		<link rel="stylesheet" href="/styles/main.css">

		<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
		crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
	</head>

	<body>
		<header class="header d-md-block" id="navbar-collapse-toggle" class="d-none">
	        <div class="navbar-brand mr-0">
	            <img src="https://avatars0.githubusercontent.com/u/30357632?s=460&v=4">
	        </div>
	        <ul class="nav justify-content-center">
	            <li>
	                <a class="nav-link" href="#landing" id="lnkHowdy">
	                    <i class="fas fa-hat-cowboy"></i>
	                    Howdy
	                </a>
	            </li>

	            <li>
	                <a class="nav-link" href="#about" id="lnkAbout">
	                    <i class="far fa-id-badge"></i>
	                    About
	                </a>
	            </li>

	            <li>
	                <a class="nav-link" href="#mission" id="lnkMission">
	                    <i class="fas fa-rocket"></i>
	                    Mission
	                </a>
	            </li>

	            <li>
	                <a class="nav-link" href="#skills" id="lnkSkills">
	                    <i class="fas fa-atlas"></i>
	                    Skills
	                </a>
	            </li>

	            <li>
	                <a class="nav-link" href="#projects" id="lnkProjects">
	                    <i class="fas fa-tasks"></i>
	                    Projects
	                </a>
	            </li>

	            <li>
	                <a class="nav-link" href="#contact" id="lnkContact">
	                    <i class="fas fa-paper-plane"></i>
	                    Contact
	                </a>
	            </li>
	        </ul>
	    </header>

	    <div class="toggler d-inline d-md-none">
	    	<i class="fas fa-bars"></i>
	    </div>

	    <div class="bouncer">
	    	<i class="fas fa-chevron-down"></i>
	    </div>

		<section id="landing">
			<div class="container full-view">
				
			</div>
		</section>

		<section id="about">
			<div class="container full-view">
				
			</div>
		</section>

		<section id="mission">
			<div class="container partial-view">
				
			</div>
		</section>

		<section id="skills">
			<div class="container full-view">
				
			</div>
		</section>

		<section id="projects">
			<div class="container full-view">
				
			</div>
		</section>

		<section id="contact">
			<div class="container full-view">
				
			</div>
		</section>

		<section id="footer">
			<div class="container py-3">
				<div class="row align-items-center mr-0">
					<div class="col-4 text-center text-sm-left">
						<a class="footer-icon" href="https://www.linkedin.com/in/cole-connelly/" target="_blank"><i class="fab fa-linkedin mr-3"></i></a>
						<a class="footer-icon" href="https://www.github.com/cdconn00" target="_blank"><i class="fab fa-github"></i></a>
					</div>
					<div class="col-8 text-right">
						<span class="d-none d-sm-inline">Copyright </span>© <%= (new Date().getFullYear()) %> Cole D. Connelly
					</div>
				</div>
			</div>
		</section>

		<script src="/scripts/index.js"></script>
	</body>
</html>