<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1, viewport-fit=cover"
		/>
		<title>Cole D. Connelly | Develop Different</title>
		<link
			rel="icon"
			href="/imgs/CDC-circle.png"
			type="image/png"
			sizes="16x16"
		/>
		<meta
			name="description"
			content="Cole D. Connelly is a passionate software engineer who values creating solutions that
			benefit the greater good while teaching everything he knows."
		/>
		<meta
			name="keywords"
			content="Cole D. Connelly, Cole Connelly, Cole, Connelly, develop different, free lancer, web developer, aggie, web, developer, texas, A&M, tamu, development, software engineer, software engineer, swe, project manager, project, manager, pm"
		/>
		<meta name="robots" content="index, follow" />
		<meta name="language" content="English" />
		<meta name="author" content="Cole D. Connelly" />

		<link rel="icon" type="image/png" href="/images/fav-icon.png" />
		<link
			rel="stylesheet"
			href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
			integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
			crossorigin="anonymous"
		/>
		<script
			src="https://kit.fontawesome.com/44473cf6a5.js"
			crossorigin="anonymous"
		></script>
		<link
			href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Open+Sans:wght@400;600;700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="/styles/main.css?v=1" />

		<script
			src="https://code.jquery.com/jquery-3.4.1.min.js"
			integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			crossorigin="anonymous"
		></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
			integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
			crossorigin="anonymous"
		></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
			integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
			crossorigin="anonymous"
		></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
	</head>

	<body>
		<header
			class="header d-md-block"
			id="navbar-collapse-toggle"
			class="d-none"
		>
			<div class="navbar-brand mr-0">
				<img
					src="https://avatars0.githubusercontent.com/u/30357632?s=460&v=4"
					alt="CDC Logo"
				/>
			</div>
			<ul class="nav justify-content-center">
				<li>
					<a class="nav-link" href="#landing" id="lnkHowdy">
						<i class="fas fa-hat-cowboy"></i>
						Howdy
					</a>
				</li>

				<li>
					<a class="nav-link" href="#about" id="lnkAbout">
						<i class="far fa-id-badge"></i>
						About
					</a>
				</li>

				<li>
					<a class="nav-link" href="#mission" id="lnkMission">
						<i class="fas fa-rocket"></i>
						Mission
					</a>
				</li>

				<li>
					<a class="nav-link" href="#skills" id="lnkSkills">
						<i class="fas fa-atlas"></i>
						Skills
					</a>
				</li>

				<li>
					<a class="nav-link" href="#projects" id="lnkProjects">
						<i class="fas fa-tasks"></i>
						Projects
					</a>
				</li>

				<li>
					<a class="nav-link" href="#contact" id="lnkContact">
						<i class="fas fa-paper-plane"></i>
						Contact
					</a>
				</li>
			</ul>
		</header>

		<div id="toggler" class="toggler d-inline d-md-none">
			<i class="fas fa-bars"></i>
		</div>

		<div class="bouncer">
			<i class="fas fa-chevron-down"></i>
		</div>

		<section id="landing">
			<div class="container">
				<div class="row align-items-center full-view px-4 px-md-0">
					<div class="col-12 col-md-7">
						<h5 class="mb-3">Howdy, my name is</h5>
						<h1 class="landing-name">Cole D. Connelly</h1>
						<p class="mb-3">he / him / his</p>
						<h2 class="mb-3 font-125">
							I am
							<span class="word">a software engineer.</span>
							<span class="word">different.</span>
							<span class="word">pansexual.</span>
							<span class="word">an advocate.</span>
							<span class="word">a leader.</span>
							<span class="word">a learner.</span>
							<span class="word">a teacher.</span>
						</h2>
						<p class="mb-4">
							A passionate software engineer who values creating solutions that
							benefit the greater good and making those around me laugh.
						</p>

						<div class="button-container">
							<button class="mr-3 btn-landing btn-normal" id="btnProjects">
								Projects
							</button>
							<button class="btn-landing btn-alt" id="btnContact">
								Get in Touch
							</button>
						</div>
					</div>
					<div class="d-none d-md-block col-md-5 text-center">
						<img
							src="/images/avatar.png"
							alt="Cartoon Avatar of Cole"
							class="landing-image"
						/>
					</div>
				</div>
			</div>
		</section>

		<section id="about">
			<div class="container pad-content">
				<div class="row px-4 px-md-0">
					<h1 class="font-weight-bold mb-3">
						ABOUT ME
						<hr class="header-underline" />
					</h1>
				</div>
				<div class="row px-4 px-md-0">
					<div class="d-none d-lg-block col-lg-5 about-me-photo-container">
						<img
							src="/images/Cole-Bio-Pic.jpg"
							alt="Picture of Cole"
							class="about-me-photo"
						/>
						<div class="social-box">
							<a
								href="https://www.github.com/cdconn00"
								target="_blank"
								class="social-icon mb-3"
								aria-label="Link to Cole's Github"
							>
								<i class="fab fa-github"></i>
							</a>
							<a
								href="https://www.linkedin.com/in/cole-connelly/"
								target="_blank"
								class="social-icon mb-3"
								aria-label="Link to Cole's LinkedIn"
							>
								<i class="fab fa-linkedin"></i>
							</a>
						</div>
					</div>
					<div class="col-12 col-lg-7 mt-4 mt-lg-0">
						<div class="row px-0 px-md-4">
							<p class="mb-4">
								Howdy! 👋🏻 I'm Cole, a Software Engineer from Austin, Texas.
								Currently, I work as an SWE II at Spreetail, helping empower the
								Supply Chain Platform.
							</p>
							<p class="mb-4">
								In my free time, I enjoy reading high fantasy novels (Stormlight
								Archives, Liveship Traders, etc.), exploring a new dish in the
								kitchen, and pursuing my private pilot license.
							</p>
							<div class="row mb-3 justify-content-between">
								<div class="col-12 col-sm-6">
									<h2 class="font-weight-bold font-1">Spreetail</h2>
									<h2 class="font-italic font-1">SWE II</h2>
									<h2 class="font-1">Since July 2022</h2>
								</div>

								<div class="col-12 col-sm-6">
									<h2 class="font-weight-bold font-1">Tack Systems</h2>
									<h2 class="font-italic font-1">SWE and PM</h2>
									<h2 class="font-1">Jan. 2021 - Jun. 2022</h2>
								</div>

								<div class="col-12 col-sm-6 mb-3 mt-sm-3">
									<h2 class="font-weight-bold font-1">Visa</h2>
									<h2 class="font-italic font-1">SWE Intern</h2>
									<h2 class="font-1">Summer 2020</h2>
								</div>

								<div class="col-12 col-sm-6 mb-3 mt-sm-3">
									<h2 class="font-weight-bold font-1">Connect Technologies</h2>
									<h2 class="font-italic font-1">SWE Intern</h2>
									<h2 class="font-1">Jan. 2019 - Jan. 2021</h2>
								</div>
							</div>

							<a href="/resume" target="_blank" class="btn-landing btn-normal"
								>Download Resume</a
							>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="mission">
			<div class="container pad-content">
				<div class="row px-4 px-md-0">
					<h1 class="font-weight-bold mb-3">
						MISSION + VALUES
						<hr class="header-underline" />
					</h1>
				</div>

				<div class="row px-4 px-md-0">
					<div class="col-12">
						<h2 class="mb-5 font-125">
							To live with integrity and a sense of humor to contribute to the
							improvement of myself and others.
						</h2>
					</div>
				</div>

				<div class="row px-4 px-md-0">
					<div class="col-12 col-md-6 col-lg-4 mt-3 mt-md-0">
						<div class="value-container">
							<i class="value-icon fas fa-heart mb-4"></i>
							<h3 class="font-weight-bold font-15 mb-4">Family + Friends</h3>
							<p>
								My family and friends always come first, I am committed to
								supporting and cherishing them while pushing all of us to be the
								best versions of ourselves.
							</p>
						</div>
					</div>

					<div class="col-12 col-md-6 col-lg-4 mt-3 mt-md-0">
						<div class="value-container">
							<i class="value-icon far fa-handshake mb-4"></i>
							<h3 class="font-weight-bold font-15 mb-4">Respect</h3>
							<p>
								I am committed to always holding those around me in high regard,
								even when our opinions differ, and providing us all with
								opportunities for growth.
							</p>
						</div>
					</div>

					<div class="col-12 col-md-6 col-lg-4 mt-3 mt-lg-0">
						<div class="value-container">
							<i class="value-icon fas fa-bullhorn mb-4"></i>
							<h3 class="font-weight-bold font-15 mb-4">Advocation</h3>
							<p>
								I strive to be an ally, while that is not self-defined; I am
								committed to calling out injustice, recognizing my privilege,
								and amplifying underrepresented voices.
							</p>
						</div>
					</div>

					<div class="col-12 col-md-6 col-lg-4 mt-3">
						<div class="value-container">
							<i class="value-icon fas fa-shield-alt mb-4"></i>
							<h3 class="font-weight-bold font-15 mb-4">Integrity</h3>
							<p>
								I’m not above making mistakes; I am committed to owning up
								quickly and taking action to correct my shortcomings and ensure
								they are not repeated.
							</p>
						</div>
					</div>

					<div class="col-12 col-md-6 col-lg-4 mt-3">
						<div class="value-container">
							<i class="value-icon fas fa-hand-holding-heart mb-4"></i>
							<h3 class="font-weight-bold font-15 mb-4">Selflessness</h3>
							<p>
								I couldn’t have made it this far without truly selfless mentors.
								I am committed to giving back through charity, teaching, and
								causes bigger than myself.
							</p>
						</div>
					</div>

					<div class="col-12 col-md-6 col-lg-4 mt-3">
						<div class="value-container">
							<i class="value-icon fas fa-seedling mb-4"></i>
							<h3 class="font-weight-bold font-15 mb-4">Growth</h3>
							<p>
								I recognize I still have much progress to make to become the
								best version of myself possible; I am committed to taking steps
								to become my best self.
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="skills">
			<div class="container pad-content">
				<div class="row px-4 px-md-0">
					<h1 class="font-weight-bold mb-5">
						WHAT I DO
						<hr class="header-underline" />
					</h1>
				</div>

				<div class="row px-4 px-md-0 justify-content-around">
					<div class="col-12 col-md-6 col-lg-4 mb-5">
						<div
							class="skill-container purple-alt text-center align-items-center"
						>
							<i class="skill-icon fas fa-spider mb-4"></i>
							<h2 class="font-weight-bold font-15">Web Development</h2>
						</div>
					</div>

					<div class="col-12 col-md-6 col-lg-4 mb-5">
						<div class="skill-container purple-alt text-center">
							<i class="skill-icon fas fa-code-branch mb-4"></i>
							<h2 class="font-weight-bold font-15">Software Engineering</h2>
						</div>
					</div>

					<div class="col-12 col-md-6 col-lg-4 mb-5">
						<div class="skill-container purple-alt text-center">
							<i class="skill-icon fas fa-tasks mb-4"></i>
							<h2 class="font-weight-bold font-15">Project Management</h2>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="projects">
			<div class="container pad-content">
				<div class="row px-4 px-md-0">
					<h1 class="font-weight-bold mb-5">
						PAST PERSONAL PROJECTS
						<hr class="header-underline" />
					</h1>
				</div>

				<div class="row px-4 px-md-0 justify-content-between mb-5">
					<div class="col-12 col-md-5">
						<div class="project-container mb-5">
							<a
								href="https://github.com/Aggie-Web-Developers/awd-project-sama"
								target="_blank"
							>
								<img
									src="/images/awd-aggie-sama.png"
									class="project-image"
									alt="Screenshot of Aggie SAMA Website"
								/>
								<div class="project-content">
									<div class="project-copy">
										<h2 class="font-weight-bold mb-3">Aggie SAMA Website</h2>
										<p>View Project on GitHub</p>
									</div>
								</div>
							</a>
						</div>
					</div>

					<div class="col-12 col-md-5">
						<div class="project-container mb-5">
							<a
								href="https://github.com/Aggie-Web-Developers/awd-project-femmatas"
								target="_blank"
							>
								<img
									src="/images/awd-femmatas.png"
									class="project-image"
									alt="Screenshot of The Femmatas Website"
								/>
								<div class="project-content">
									<div class="project-copy">
										<h2 class="font-weight-bold mb-3">The Femmatas Website</h2>
										<p>View Project on GitHub</p>
									</div>
								</div>
							</a>
						</div>
					</div>

					<div class="col-12 col-md-5">
						<div class="project-container mb-5">
							<a href="https://github.com/git-flash/FLASH/" target="_blank">
								<img
									src="/images/flash-member-tracker.png"
									class="project-image"
									alt="Screenshot of FLASH Member Tracker Website"
								/>
								<div class="project-content">
									<div class="project-copy">
										<h2 class="font-weight-bold mb-3">
											FLASH Member Tracker
										</h2>
										<p>View Project on GitHub</p>
									</div>
								</div>
							</a>
						</div>
					</div>

					<div class="col-12 col-md-5">
						<div class="project-container mb-5">
							<a
								href="https://github.com/cdconn00/portfolio-site"
								target="_blank"
							>
								<img
									src="/images/personal-site.png"
									class="project-image"
									alt="Screenshot of Personal Website"
								/>
								<div class="project-content">
									<div class="project-copy">
										<h2 class="font-weight-bold mb-3">Personal Website</h2>
										<p>View Project on GitHub</p>
									</div>
								</div>
							</a>
						</div>
					</div>

					<div class="col-12 col-md-5">
						<div class="project-container mb-5">
							<a
								href="https://github.com/Aggie-Web-Developers/awd-website"
								target="_blank"
							>
								<img
									src="/images/awd-site.png"
									class="project-image"
									alt="Screenshot of Aggie Web Developers Website"
								/>
								<div class="project-content">
									<div class="project-copy">
										<h2 class="font-weight-bold mb-3">AWD Website</h2>
										<p>View Project on GitHub</p>
									</div>
								</div>
							</a>
						</div>
					</div>

					<div class="col-12 col-md-5">
						<div class="project-container mb-5">
							<a href="https://github.com/cdconn00/news-sip" target="_blank">
								<img
									src="/images/news-sip.png"
									class="project-image"
									alt="Screenshot of News Sip Project"
								/>
								<div class="project-content">
									<div class="project-copy">
										<h2 class="font-weight-bold mb-3">News Sip</h2>
										<p>View Project on GitHub</p>
									</div>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="contact">
			<div class="container pad-content">
				<div class="row px-4 px-md-0">
					<h1 class="font-weight-bold mb-5">
						GET IN TOUCH
						<hr class="header-underline" />
					</h1>
				</div>

				<div class="row px-4 px-md-0 justify-content-between">
					<div class="col-12 col-md-7 col-lg-8">
						<form id="frm" action="/" method="POST">
							<div class="form-group mb-4">
								<input
									type="text"
									class="form-control"
									id="txtName"
									name="txtName"
									placeholder="Your Name"
									aria-label="Your Name"
								/>
							</div>

							<div class="form-group mb-4">
								<input
									type="email"
									class="form-control"
									id="txtEmail"
									name="txtEmail"
									placeholder="Email"
									aria-label="Your Email"
								/>
							</div>

							<div class="form-group mb-4">
								<select
									name="ddlSubject"
									id="ddlSubject"
									aria-label="Select a Reason for Reaching Out"
								>
									<option selected value="">Select One</option>
									<option value="Question">Question</option>
									<option value="Comments">Comments</option>
									<option value="Volunteering Opportunity"
										>Volunteering Opportunity</option
									>
									<option value="Mentorship Opportunity"
										>Mentorship Opportunity</option
									>
								</select>
							</div>

							<div class="form-group mb-4">
								<textarea
									name="txtComments"
									id="txtComments"
									placeholder="Questions / Comments / Concerns"
									cols="30"
									rows="5"
									aria-label="Enter your questions, comments, and/or concerns"
								></textarea>
							</div>

							<div class="form-group">
								<div class="row align-items-center">
									<div class="col-12 col-sm-8">
										<div>
											<div
												id="captcha"
												class="g-recaptcha"
												data-sitekey="6Lfsu-8ZAAAAACPMj_jK3Ddpvo1NGLanaiRL2ki_"
											></div>
											<input
												type="hidden"
												class="required"
												name="hdnRecaptcha"
												id="hdnRecaptcha"
											/>
										</div>
									</div>

									<div class="col-12 col-sm-4 text-right mt-3 mt-sm-0">
										<button class="btn-landing btn-normal" type="submit">
											Send
										</button>
									</div>
								</div>
							</div>
						</form>
					</div>

					<div class="d-none d-md-flex flex-column col-md-4 col-lg-3 py-4">
						<div>
							<a
								href="https://www.linkedin.com/in/cole-connelly/"
								target="_blank"
								aria-label="Link to Cole's LinkedIn"
							>
								<div class="contact-container text-center">
									<i class="fab fa-linkedin"></i>
								</div>
							</a>
						</div>

						<div class="mt-auto">
							<a
								href="https://www.github.com/cdconn00"
								target="_blank"
								aria-label="Link to Cole's GitHub"
							>
								<div class="contact-container text-center">
									<i class="fab fa-github"></i>
								</div>
							</a>
						</div>
					</div>
				</div>
			</div>
		</section>

		<section id="footer">
			<div class="container py-3">
				<div class="row align-items-center mr-0">
					<div class="col-4 text-center text-sm-left">
						<a
							class="footer-icon"
							href="https://www.linkedin.com/in/cole-connelly/"
							target="_blank"
							aria-label="Link to Cole's LinkedIn"
							><i class="fab fa-linkedin mr-3"></i
						></a>
						<a
							class="footer-icon"
							href="https://www.github.com/cdconn00"
							target="_blank"
							aria-label="Link to Cole's GitHub"
							><i class="fab fa-github"></i
						></a>
					</div>
					<div class="col-8 text-right">
						<span class="d-none d-sm-inline">Copyright </span>© <%= (new
						Date().getFullYear()) %> Cole D. Connelly
					</div>
				</div>
			</div>
		</section>

		<script
			src="https://www.google.com/recaptcha/api.js?onload=captchaCallback&render=explicit"
			async
			defer
		></script>
		<script src="/scripts/index.js"></script>
	</body>
</html>
