/*** Global ***/
body {
	margin: 0;
	font-family: 'Open Sans', sans-serif;
}

li {
	width: 100%;
}

p {
	font-family: 'Lato', sans-serif;
}

.full-view {
	height: 100vh;
}

#about, #skills, #contact {
	background-color: #EAEDF2;
}

@media (min-width: 768px){
	.container {
	    padding-left: 115px;
	}
}
	
#landing {
	background-image: linear-gradient(135deg, rgba(49, 49, 49,0.07) 0%, rgba(49, 49, 49,0.07) 12.5%,rgba(76, 76, 76,0.07) 12.5%, 
		rgba(76, 76, 76,0.07) 25%,rgba(102, 102, 102,0.07) 25%, rgba(102, 102, 102,0.07) 37.5%,rgba(129, 129, 129,0.07) 37.5%, 
		rgba(129, 129, 129,0.07) 50%,rgba(155, 155, 155,0.07) 50%, rgba(155, 155, 155,0.07) 62.5%,rgba(182, 182, 182,0.07) 62.5%, 
		rgba(182, 182, 182,0.07) 75%,rgba(208, 208, 208,0.07) 75%, rgba(208, 208, 208,0.07) 87.5%,rgba(235, 235, 235,0.07) 87.5%, 
		rgba(235, 235, 235,0.07) 100%),linear-gradient(45deg, rgba(5, 5, 5,0.07) 0%, rgba(5, 5, 5,0.07) 12.5%,rgba(39, 39, 39,0.07) 12.5%, 
		rgba(39, 39, 39,0.07) 25%,rgba(73, 73, 73,0.07) 25%, rgba(73, 73, 73,0.07) 37.5%,rgba(107, 107, 107,0.07) 37.5%, 
		rgba(107, 107, 107,0.07) 50%,rgba(141, 141, 141,0.07) 50%, rgba(141, 141, 141,0.07) 62.5%,rgba(175, 175, 175,0.07) 62.5%, 
		rgba(175, 175, 175,0.07) 75%,rgba(209, 209, 209,0.07) 75%, rgba(209, 209, 209,0.07) 87.5%,rgba(243, 243, 243,0.07) 87.5%, 
		rgba(243, 243, 243,0.07) 100%),linear-gradient(90deg, #ffffff,#ffffff);
}

/*** /Global/ ***/

/*** Header ***/
.header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 95px;
    overflow: hidden;
    box-shadow: 0px 3px 10px 0px rgba(38, 59, 94, 0.35);
    background-color: #FFF;
    z-index: 1;
    text-align: center;
    display: none;
}

.navbar-brand {
	background-color: #0098FA;
	width: 100%;
	padding: 15px 0;
}

.navbar-brand img {
	width: 65px;
	border-radius: 100%;
	border: 3px solid white;
}

.nav-link {
	font-family: 'Open Sans', sans-serif;
	text-decoration: none;
	text-transform: uppercase;
	letter-spacing: .5px;
	color: #090a0c;
	font-weight: 600;
	border-bottom: 1px solid rgba(9, 10, 12, 0.06);
	font-size: 12px;
    display: block;
    padding: 10px 0;
    position: relative;
    width: 100%;
    transition: .5s all ease;
    border-right: none;
}

.nav-link:hover {
	color: #0098FA;
}

.nav-link i {
    font-size: 20px;
    width: 100%;
    margin-bottom: 8px;
}

.active {
	color: #0098FA;
	border-right: 3px solid #0098FA;
}

.toggler {
	position: fixed;
	width: 60px;
	height: 60px;
	top: 40px;
	right: 20px;
	background-color: #32C192;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
	cursor: pointer;
	z-index: 5;
}

.toggler i {
    position: relative;
    top: 17.5px;
    font-size: 25px;
}

.bouncer {
	position: fixed;
	bottom: 5%;
	left: 50%;
	width: 45px;
	height: 45px;
	background-color: #0098FA;
	color: #FFF;
	border-radius: 50px;
	text-align: center;
	box-shadow: 2px 2px 3px #999;
	cursor: pointer;
	transition: .5s ease all;  
	-webkit-animation: bounce .7s infinite alternate;
    -moz-animation: bounce .7s infinite alternate;
	animation: bounce .7s infinite alternate;
}

@-webkit-keyframes bounce {
	to { -webkit-transform: scale(1.2); }
}

@-moz-keyframes bounce {
	to { -moz-transform: scale(1.2); }
}

@keyframes bounce {
	to { transform: scale(1.2); }
}

.bouncer i {
    position: relative;
    top: 12.5px;
    font-size: 20px;
}

/*** /Header/ ***/

/*** Footer ***/
#footer {
	background-color: #3F4756;
	font-weight: 500;
	color: rgba(255, 255, 255, 0.4);
	font-size: 14px;
}

.footer-icon {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.4);
	font-size: 22px;
	transition: .5s all ease;
}

.footer-icon:hover {
	color: #fff;
}

/*** /Footer/ ***/

/*** Landing ***/
.landing-name {
	font-weight: bold;
	font-size: 3.75rem;
}

@media (max-width: 1200px){
	.landing-name {
		font-weight: bold;
		font-size: 2.5rem;
	}
}

@media (max-width: 415px){
	.landing-name {
		font-weight: bold;
		font-size: 1.8rem;
	}
}

.landing-image {
	width: inherit;
}

.text {
	position: absolute;
	width: 450px;
	left: 50%;
	margin-left: -225px;
	height: 40px;
	top: 50%;
	margin-top: -20px;
}

.word {
	position: absolute;
	width: 220px;
	padding-left: 5px;
	opacity: 0;
	font-weight: 600;
}

.letter {
	display: inline-block;
	position: relative;
	float: left;
	transform: translateZ(25px);
	transform-origin: 50% 50% 25px;
	white-space: pre-wrap;
}

.letter.out {
	transform: rotateX(90deg);
	transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	white-space: pre-wrap;
}

.letter.behind {
	transform: rotateX(-90deg);
}

.letter.in {
	transform: rotateX(0deg);
	transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
	white-space: pre-wrap;
}

/*** /Landing/ ***/
